<div class="page-header text-center">
	<!-- como só queremos exibir o titulo neste caso, não queremos passá-lo para model, utilizamos angular expression ao invés de ng-model -->
	<h1>{{foto.titulo}}</h1>
</div>

<p ng-show="mensagem.length" class="alert alert-info">{{mensagem}}</p>

<!-- para cada evento nativo do javascript, existe uma diretiva do angular -->
<!-- utilizamos a diretiva ng-submit ao invés do evento onSubmit do javascript -->
<!-- ao clicarmos no botão salvar, o angular intercepta o evento submit e dispara a nossa função submeter declarada no controller -->
<!-- para utilizar a validação do angular, precisamos desabilitar a validação do HTML5. Por isso, utilizamos o novalidate -->
<form novalidate name="formulario" class="row" ng-submit="submeter()">
	<div class="col-md-6">
		<div class="form-group">
			<label>Título</label>
			<input ng-model="foto.titulo" name="titulo" class="form-control" required ng-maxlength="20">
			<!-- formulario.$submitted informa que a validação só será feita quando o formulário for submetido -->
			<span ng-show="formulario.$submitted && formulario.titulo.$error.required" class="form-control alert-danger">
				Título obrigatório!
			</span>
			<span ng-show="formulario.$submitted && formulario.titulo.$error.maxlength" class="form-control alert-danger">
				Deve ter no máximo 20 caracteres!
			</span>
		</div>
		<div class="form-group">
			<label>URL</label>
			<input ng-model="foto.url" name="url" class="form-control" required>
			<span ng-show="formulario.$submitted && formulario.url.$error.required" class="form-control alert-danger">
				URL obrigatório!
			</span>
		</div>
		<div class="form-group">
			<label>Descrição</label>
			<textarea ng-model="foto.descricao" name="descricao" class="form-control"></textarea>
		</div>
		<div class="form-group">
			<label>Grupo</label>
			<!-- ng-model="foto.grupo" grupo é uma propriedade dinamica gerada pelo angular que vai armazenar o value do option selecionado no select-->
			<!-- grupo.nome | uppercase filtro do angular que transforma o texto do nome em uppercase -->
			<select class="form-control" name="grupo" required
			ng-controller="GruposController"
			ng-model="foto.grupo" ng-options="grupo._id as (grupo.nome | uppercase) for grupo in grupos">
				<option value="">Selecione o Grupo</option>
			</select>
			<span ng-show="formulario.$submitted && formulario.grupo.$error.required" class="form-control alert-danger">
				Grupo obrigatório!
			</span>
		</div>
		<button type="submit" class="btn btn-primary" ng-disabled="formulario.$invalid">Salvar</button>
		<a href="/" class="btn btn-primary" meu-focus focado="focado">Voltar</a>
		<hr>
	</div>
	<div class="col-md-6">
		<minha-foto url="{{foto.url}}" titulo="{{foto.titulo}}"></minha-foto>
	</div>
</form>